name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21
      - name: Build
        run: chmod +x ./gradlew && ./gradlew build
      - uses: actions/upload-artifact@v3
        with:
          name: stone-sniper-addon
          path: build/libs/*.jar
